.new{
   margin: 8px;
   color: black;
}
.new-transaction{
    background-color: cadetblue;
}
.new-transaction-btn{
     
        cursor: pointer;
        background-color: #9c88ff;
        box-shadow: var(--box-shadow);
        color: black;
        border: 0;
        display: block;
        font-size: 16px;
        margin: 10px 0 30px;
        padding: 10px;
        width: 100%;
      
}
